body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    /* Enable scrollbars if necessary */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../image/stars.gif');
    background-size: cover;
}

#maze {
    width: 90vmin;
    /* Use vmin to ensure the maze fits within the viewport */
    height: 90vmin;
    display: flex;
    flex-wrap: wrap;
    background-image: url('../image/retro.gif');
    /* replace 'shining-dots.gif' with the path to your .gif file */
    background-repeat: repeat;
    /* this will make the image repeat across the entire container */
    background-size: cover;
    /* this will make the image scale to fit the container */
}

.cell {
    width: calc(100% / 30);
    /* Assuming a 50x50 maze */
    height: calc(100% / 30);
    /* background-color: rgb(65, 63, 90); */
}

.wall {
    background-image: url(../image/wall.png);
    background-size: cover;
}

.player {
    background-image: url('../image/catBanana.gif');
    background-size: cover;
    transition: all 2.5s ease;
    /* Adjust the timing and easing function as desired */
}


.exit1 {
    background-image: url('../image/catApple.gif');
    background-size: cover;
    background-color: #000000;
}

.exit2 {
    background-image: url('../image/catHappy.gif');
    background-size: cover;
    background-color: #000000;
}

.exit3 {
    background-image: url('../image/oiiaioooooiai.gif');
    background-size: cover;
    background-color: #000000;
}

.exit4 {
    background-image: url('../image/catOrange.gif');
    background-size: cover;
    /* mix-blend-mode: multiply; */
    background-color: #000000;
}